<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <!--类型别名，默认引入com.suibianshuo.entity下的所有类 -->
    <typeAliases>
        <package name="com.suibianshuo.entity"/>
    </typeAliases>
</configuration>