<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.suibianshuo.mybatis.mapper.AdminUserDao">  
    <!-- 查询用户ByOpenId -->
    <select id="getAdminUser" resultType="com.suibianshuo.entity.web.AdminUser">  
        select * from admin_user where account = #{account} and password = #{password} and status = "Y";
    </select>
</mapper>  